<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile colspan="3">
    <div>
      <p class="title-welcome mat-h1">Bienvenido</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <div class="subtitle-welcome">
      Para seguir navegando por la Aplicación es necesario que inicies sesión
      con tu Cuenta de Google, para ello usa el botón que se encuentra debajo.
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <div class="subtitle-welcome">
      <button mat-raised-button color="primary" (click)="signIn()">
        Conectar con Google
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
